/* HEADER */
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: rgb(245, 71, 72);
  font-weight: 600;
  font-size: 2.4rem;
  letter-spacing: 0.5rem;
  line-height: 2;
  padding: 1.6rem 0;
}

.navbar-logo:hover {
  color: rgba(245, 71, 72, 0.75);
}

.menu-link > i {
  margin-right: 0.8rem;
}

/* SECTION CAROUSEL */
.carousel {
  position: relative;
  height: 50rem;

  overflow: hidden;
}

.carousel-inner {
  height: 100%;
  position: relative;

  transition: transform 300ms ease-in-out;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  background-color: transparent;
  outline: none;
  border: 0;
  width: 15%;
  height: 100%;

  cursor: pointer;
}

.carousel-control-prev,
.carousel-control-next > i {
  font-size: 2.4rem;
  color: rgba(255, 255, 255, 0.6);
}

.carousel-control-prev:hover,
.carousel-control-next:hover > i {
  color: rgba(255, 255, 255, 1);
}

.carousel-control-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  background-color: transparent;
  outline: none;
  border: 0;
  width: 15%;
  height: 100%;

  cursor: pointer;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.carousel-indicator {
  width: 30px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0 5px;
  cursor: pointer;

  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.carousel-indicator.active {
  background-color: #fff;
}

/* SECTION POSTS */
.posts {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

.posts-title {
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;

  margin-bottom: 4.8rem;
  position: relative;
}

.posts-title::after {
  content: '';
  position: absolute;
  top: calc(100% + 0.8rem);
  left: 0;
  right: 0;

  height: 0.4rem;
  width: 8rem;
  margin: 0 auto;
  border-radius: 0.4rem;

  background-color: var(--gray);
}

.posts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.posts-item {
  width: calc(100% / 3 - 30px);
  margin-left: 15px;
  margin-right: 15px;

  margin-bottom: 4.8rem;
}

@media screen and (max-width: 991px) {
  .posts-item {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 767px) {
  .posts-item {
    width: calc(100% - 30px);
  }
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.4rem;
  overflow: hidden;

  position: relative;
}

.card:hover {
  cursor: pointer;
  box-shadow: var(--shadow);
}

.card:hover > .card-img {
  transform: scale(1.1);
}

.card-img {
  transition: transform 300ms ease-in-out;
}

.card-body {
  padding: 2rem;
}

.card-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--primary);

  margin-bottom: 1.2rem;
}

.card-title + .card-text {
  margin-bottom: 1.6rem;
}

.card-text:last-child {
  color: #6c757d;
}

.card-text:last-child > .card-author {
  font-weight: 500;
}

.card-actions {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  right: 2rem;
  top: 2rem;

  transform: scale(0.5);
  transform-origin: top;
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.card:hover > .card-actions {
  opacity: 1;
  transform: scale(1);
}

.card-actions > * {
  margin-bottom: 1.2rem;
}

/* PAGINATION */
.posts-nav {
  margin-bottom: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item:first-child > .page-link {
  margin-left: 0;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.page-item:last-child > .page-link {
  margin-right: 0;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.page-item.active > .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.page-item.disabled > .page-link {
  cursor: auto;
  pointer-events: none;
}

.page-link {
  display: block;
  padding: 1rem 1.2rem;
  color: var(--gray);
  border: 1px solid #dee2e6;
  margin-left: -1px;
}

.page-link:hover {
  background-color: #e9ecef;
}

/* FOOTER */
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}
