:root {
  --primary: rgba(251, 147, 0, 1);
  --secondary: rgb(245, 71, 72);
  /* --purple: #bd93f9;
  --pink: #ff6bcb;
  --blue: #8be9fd; */
  --gray: #333;

  --font: 'Rubik', sans-serif;
  /* --gradient: linear-gradient(40deg, #ff6ec4, #7873f5); */
  /* --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05); */
  --shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  color: var(--gray);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body > main {
  flex: 1;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgba(251, 147, 0, 1);
}

a:hover {
  color: rgba(251, 147, 0, 0.75);
}

ul {
  list-style: none;
}

/* BUTTON */
.btn {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #555;

  font-family: var(--font);
  cursor: pointer;
}

.btn:hover {
  background-color: #333;
}

.btn--circle {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.btn > * {
  color: rgba(255, 255, 255, 0.6);
}

.btn:hover > * {
  color: rgba(255, 255, 255, 0.8);
}

.is-hidden {
  display: none;
}
